<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" action="/login" method="post">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(event) {
                event.preventDefault();
                var email = $('#email').val();
                var password = $('#password').val();
                $.ajax({
                    url: '/login',
                    method: 'post',
                    data: {
                        email: email,
                        password: password
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Login Successful',
                            text: 'You have been logged in successfully.',
                            showCloseButton: true,
                            showConfirmButton: true,
                            confirmButtonText: 'OK',
                            onClose: () => {
                                window.location.href = '/';
                            }
                        });
                        document.cookie = "access_token_cookie=" + response.access_token;
                    },
                    error: function(error) {
                        console.log(error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Login Unsuccessful',
                            text: 'Login unsuccessful: ' + error.responseJSON.msg,
                            showCloseButton: true,
                            showConfirmButton: true,
                            confirmButtonText: 'OK',
                        });
                    }
                });
            });
        });
    </script>
    <!-- Include SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.min.js"></script>
</body>
</html>
